/**
 * Footer Styles
 *
 * @package Postali Child
 * @author Postali LLC
**/

.footer {    
    background:$cream;
    padding-bottom: 20px;
    z-index: 0;
     
    strong {
        font-weight: 700;

        a {
            font-weight: inherit;
        }
    }

    .spacer-60 {
        @include respond(phone) {
            height:30px;
        }
    }

    .container {
        .columns {
            align-items: flex-end;

            p {
                color:$slate;
                opacity: .6;
                font-size: 14px;
                line-height: 130%;
            }
            
            .column-50 {
                .custom-logo-link {
                    img {
                        max-height: 120px;

                        @include respond(tab-port) {
                            max-height: 100px;
                            margin-bottom: 40px;
                        }
                    }
                }

                p.xlrg {
                    margin-bottom: 20px;
                    color:$slate;
                    opacity: 1;

                    @include respond(tab-port) {
                        font-size: 18px !important;
                    }

                    a {
                        text-decoration: none;

                        &:hover {
                            color:inherit;
                            text-decoration: underline;
                        }
                    }

                    span {
                        margin-right: 10px;
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    .footer-utility {
        display:flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        
        @include respond(tab-port) {
            flex-wrap: wrap;
        }

        .left {
            display: flex;
            gap: 30px;
            align-items: center;

            @include respond(tab-port) {
                flex-wrap: wrap;
            }
            
            p {
                margin-bottom: 0;
                line-height: 1;
            }

            ul {
                margin: 0;
                list-style: none;

                li {
                    margin: 0;
                    display: inline;

                    a {
                        font-family: $nunito;
                        font-size: 14px;
                        color:$slate;
                        opacity: .6;
                        line-height: 1;
                        margin: 0;
                    }
                }
            }
        }

        .right {
            @include respond(tab-port) {
                margin-top: 30px;
            }

            img {
                -webkit-filter: invert(1);
                        filter: invert(1);
                opacity: .8;
            }
        }
    }
}

.bottom-border {
    display: block;
    height: 50px;
    width: 100%;
    background-image: url(/wp-content/uploads/2026/03/border-pattern.svg);
    background-color:$cream;
}