.home {
    @include highlight-box;
    
    .hp-banner-icon {
        position: absolute;
        width: auto;
        left: 50%;
        margin-top: -70px;
        z-index: 51;
        transform: translateX(-50%);

        @include respond(tab-port) {
            display:none;
        }
    }

    .hp-banner {
        overflow-x:hidden;
        background: #FAF7F2;
        background: linear-gradient(0deg,rgba(250, 247, 242, 1) 0%, rgba(250, 247, 242, 1) 20%, rgba(255, 255, 255, 1) 10%);

        .container {
            &.photo-block {
                width: 110%;
                max-width: 110%;
                padding: 0 !important;
                height: 600px;
                margin-top: -110px;
                margin-left: -5%;
                z-index: 0;

                @include respond(tab-port) {
                    height:475px;
                }

                @include respond(phone) {
                    height:250px;
                    width: 100%;
                    max-width: 100%;
                    margin-top: 50px;
                    margin-left: 0;
                }

                .photo-grid {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    gap: 15px;
                    flex-direction: row;
                    align-items: flex-end;

                    .slick-track {
                        @include respond(phone) {
                            height:250px;
                        }
                    }
                    
                    .column1,
                    .column2,
                    .column3,
                    .column4,
                    .column5 {
                        width: 20%;
                        gap: 15px;
                        display: flex;
                        flex-wrap: nowrap;
                        flex-direction: column;

                        @include respond(tab-port) {
                            width: 32%;
                        }

                        @include respond(phone) {
                            width: 100%;
                            flex-wrap: wrap;
                            flex-direction: row;
                            margin: 0 7px !important;
                        }
                        
                        .block1,
                        .block2 {
                            background-color: $tan;
                            height: 50%;
                            width: 100%;
                            border-radius: 5px;
                            overflow: hidden;

                            @include respond(phone) {
                                height:100%;
                            }

                            img {
                                border-radius: 10px;
                                height: 100%;
                                width: 100%;
                                -o-object-fit: cover;
                                   object-fit: cover;
                            }
                        }
                    }

                    .column1,
                    .column5 {
                        height: 100%;

                        @include respond(tab-port) {
                            display:none;
                        }

                        @include respond(phone) {
                            display:block;
                        }
                    }

                    .column2,
                    .column4 {
                        height: 70%;

                        @include respond(phone) {
                            height:100%;
                        }
                    }

                    .column3 {
                        height: 55%;

                        @include respond(phone) {
                            height:100%;
                        }
                        
                        .block1 {
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    .bottom-curve {
        padding: 0;

        svg {
            max-height: 300px;
            width: 100%;
            margin: auto;
            display: block;

            .st0 { fill: $cream; }
        }
    }

    .after-curve {
        margin-top: -150px;

        @include respond(tab-port) {
            margin-top: -50px;
        }

        @include respond(phone) {
            margin-top: 0;
        }

        .container {
            .columns {
                align-items: normal;

                .column-50 {
                    align-content: center;

                    &.image {
                        min-height: 600px;
                        border-radius: 5px !important;

                        @include respond(tab-port) {
                            min-height: auto;           
                        }

                        .image-container {
                            height: 100%;
                            width: 100%;
                            
                            img {
                                height: 100%;
                                width: 100%;
                                border-radius: 10px;
                                -o-object-fit: cover;
                                object-fit: cover;
                                -o-object-position: center;
                                object-position: center;
                            }
                        }
                    }
                }
            }
        }
    }

    .hp-p3 {
        padding-bottom: 30px;
        margin: 0 60px;

        @include respond(tab-port) {
            margin: 0;
        }
        
        .container {
            background-size: cover;
            background-position: center;
            border-radius: 10px;
            padding: 40px !important;
            box-sizing: border-box;

            @include respond(tab-port) {
                margin:0 30px;
            }

            .columns {
                align-items: center;
            }
        }
    }

    .hp-p4 {
        .container {
            .columns {
                align-items: center;
                
                .column-50 {
                    &.image-grid {
                        display: flex;
                        justify-content: space-between;
                        gap: 14px;
                        flex-wrap: wrap;

                        @include respond(tab-port) {
                            margin-bottom: 50px;
                        }

                        .grid-block {
                            width: 100%;

                            &:first-of-type,
                            &:nth-of-type(2) {
                                width: calc(50% - 7px);
                                height: 200px;

                                img {
                                    border-radius: 10px;
                                    -o-object-fit: cover;
                                       object-fit: cover;
                                    height: 100%;
                                    width: 100%;
                                }
                            }

                            &:last-of-type {
                                width: 100%;
                                height: 200px;
                                
                                img {
                                    border-radius: 10px;
                                    -o-object-fit: cover;
                                       object-fit: cover;
                                    height: 100%;
                                    width: 100%;
                                }
                            }

                            &.text-block {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding: 20px 30px;
                                border-radius: 10px;

                                p {
                                    margin-bottom: 0;
                                    font-weight: bold;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }

                .call-out {
                    border-radius: 10px;
                    background:$cream;
                    margin: 0 10%;
                    padding: 40px;
                    flex-wrap: nowrap;
                    gap: 40px;

                    @include respond(tab-port) {
                        flex-wrap:wrap;
                        margin: 0;
                    }

                    .quote {
                        img {
                           height: auto;
                           min-width: 60px; 
                        }
                    }
                    
                    p {
                        margin-bottom: 0;
                        font-weight: 200;
                        text-align: left;
                        line-height: 140%;
                        padding-right: 10%;

                        &.small {
                            text-transform: uppercase;
                            font-weight: 500;
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }

    .top-swoosh {
        padding: 0;
        background: #044A59;
        background: linear-gradient(0deg,rgba(4, 74, 89, 1) 0%, rgba(4, 74, 89, 1) 10%, rgba(255, 255, 255, 1) 10%);   
        margin-bottom: -2px;         

        svg {
            max-height: 200px;
            width: 100%;
            margin: auto;
            display: block;

            .st1 { fill:$sky; }
            .st2 { fill:$deepsea; }
        }
    }

    .hp-p5 {
        background:$deepsea;

        .services-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 15px;

            @include respond(tab-port) {
                grid-template-columns: 1fr 1fr;
            }

            @include respond(phone) {
                grid-template-columns: 1fr;
            }

            .grid-box {
                padding: 30px;
                background-color: rgba($white, .1);
                border-radius: 10px;

                p {
                    margin-bottom: 0;
                    font-weight: 700;
                    line-height: 130%;
                }
            }
        }
    }

    .hp-p6 {
        background:$deepsea;

        .container {
            .columns {
                align-items: flex-start;

                .hp-faqs {
                    .accordion-container {
                        width: 100%;
                        border-bottom: 2px solid $teal;
                    }
                }
            }
        }
    }

    .hp-p7 {
        padding: 120px 0;
        overflow-x:hidden;

        &::after {
            position: absolute;
            content: "";
            background: url(/wp-content/uploads/2026/03/Icon-chestnut.svg);
            height: 100%;
            width: 450px;
            right: -50px;
            top: 0;
            opacity: 0.4;
            background-size: 90%;
            background-position: top -190px center;
            background-repeat: no-repeat;
        }
    }

    .hp-p9 {
        background: #FAF7F2;
        background: linear-gradient(0deg,rgba(250, 247, 242, 1) 0%, rgba(250, 247, 242, 1) 45%, rgba(255, 255, 255, 1) 45%);

        .sticky {
            position: -webkit-sticky;
            position: sticky;
            top: 150px;

            @include respond(tab-port) {
                position: relative;
                margin-bottom: 50px;
                top: auto;
            }
        }

        @include respond(tab-port) {
            .spacer-90 {
                height: 45px;
            }
        }

        .top-curve {
            padding: 0;
            position: absolute;
            bottom: 45%;
            width: 100%;

            svg {
                max-height: 300px;
                width: 100%;
                margin: auto;
                display: block;

                .st10 { fill: $cream; }
            }
        }
    }

    .hp-p10 {        
        background:$deepsea;

        .container {
            .columns {
                align-items: center;

                .column-50 {                    
                    .spacer-line {
                        display: block;
                        width: 100%;
                        border-top: 1px solid $teal;
                        margin-bottom: 25px;
                    }
                }
            }
        }
    }
}