/**
 * Page Template Styles
 *
 * @package Postali Child
 * @author Postali LLC
*/

.page-template-page-contact {
    .global-disclaimer {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 2px solid $gray;
    }

    div#gform_wrapper_1 {
        padding: 20px;
        border-radius: 10px;
        background:$cream;
        box-sizing: border-box;

        p.gform_description {
            display: none;
        }

        p.gform_required_legend {
            color: $slate;
            font-size: 12px;
            margin-bottom: 15px;
        }

        .gfield_required_asterisk {
            color:$slate !important;
        }

        label {
            color:$slate;
        }

        input,
        textarea,
        select {
            border:none;
            box-shadow: none;
        }

        #gform_submit_button_1 {
            border:1px solid $slate;
            color:$slate;
        }
    }

    .large {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;

        @include respond(phone) {
            font-size: 18px;
        }
        
        .icon-Phone,
        .icon-email {
            height: 36px;
            width: 36px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            background:$yellow;
        }

        a {
            text-decoration: none;

            @include respond(phone) {
                font-size: 17px;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.page-template-page-sitemap {
    .main-content {
        .column-66 {
            justify-content: space-between;
        }
    }
    
    ul.sitemap {
        li {
            a {
                font-weight: bold;
            }

            &.page_item_has_children {
                ul.children {
                    margin-bottom: 5px;
                    
                    li {
                        a {
                            font-weight: normal !important;
                        }
                    }
                }
            }
        }
    }
}

.blog {
    .column-full {
        &.posts {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 15px;
        }
    }
    
    article {
        border: none;
        padding-bottom: 0;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        transition:$trans;
        background:$cream;
        border-radius: 10px;
        padding: 20px;

        &:hover {
            h2 {
                text-decoration: underline;
            }

            .post-image {
                background-size: 145%;
            }
        }

        @include respond(tab-port) {
            width:100%;
            margin:10px 0;
        }

        .post-image {
            height: 200px;
            background-size: 140%;
            background-position: center;
            transition: $trans;

            @include respond(tab-land) {
                background-size: cover;
            }
        }

        .meta-content {
            padding: 20px 0 10px;
            
            .blog-date {
                font-size: 12px;
                margin-bottom: 0 !important;
                color:$slate;
            }
            
            h2 {  
                font-size: 18px;
                margin-bottom: 0 !important;
                color:$slate;
                font-family: $nunito;
            }
        }
    }
}

.single {
    .article-single-featured-image {
        img {
            width: 100%;
        }
    }
}

.page-template-page-attorney {
    .attorney-img img {
        border-radius: 50%;
        max-width: 225px;
        
        @include respond(phone) {
            margin:0 auto;
        }
    }
}

.page-template-page-landing {
    .main-content {
        position: relative;
        z-index: 2;
    }
    ul.landing-box {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        list-style-type: none;
        margin:0;
        
        li {
            width:32.3%;
            margin:.5% !important;
            background:$blk;
            padding:40px;
            box-sizing: border-box;
            min-height: 400px;
            position: relative;

            @include respond(tab-land) {
                width:49%;
            }
    
            @include respond(phone) {
                width:100%;
                margin:10px 0 !important;
            }

            &:hover {
                a {
                    text-decoration: underline;
                    color:$white;
                }
            }

            a {
                font-size: 32px;
                font-weight: bold;
                display: block;
                line-height: 100%;
                padding: 0;
                text-decoration: none;
                color:$white;

                @include respond(phone) {
                    font-size: 32px;
                }
            }

            .all-pages {
                position: absolute;
                bottom: 0;
                height: 60px;
                background: $blk;
                left: 0;
                width: 100%;
                padding: 0 20px;
                box-sizing: border-box;
                align-items: center;
                justify-content: flex-end;
                display: flex;
                font-size: 15px;
                transition: $trans;

                span::before {
                    position: relative;
                    content: "+";
                    margin-left: 10px;
                    font-size: 24px;
                    font-weight: bolder;
                    transition: $trans;
                    display:block;
                }

                &.active {
                    background:$blk !important;

                    span::before {
                        transform:rotate(45deg);
                    }
                }
            }

            ul.children {
                margin: 0;
                list-style-type: none;
                position: absolute;
                background: $blk;
                top: 100%;
                left: 0;
                width: 100%;
                box-sizing: border-box;
                padding: 0 40px;
                display:none;
                z-index: 10;
                padding:20px 40px 40px;

                li {
                    margin:0 !important;
                    padding:0 !important;
                    width:100%;
                    min-height: auto;
                    background:none;
                    
                    a {
                        font-size: 16px !important;
                        line-height: 120%;
                        display: inline-block;
                        margin-bottom: 10px !important;
                        padding: 0;
                        font-weight: normal;
                        text-decoration: underline;
                        color:$blk;
                    }

                    &::after {
                        display:none;
                    }
                }
            }
        }
    }
}

.page-template-page-attorney-navigational {
    article {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;

        @include respond(phone) {
            flex-direction: column;
        }

        .image-holder {
            margin-right: 30px;

            @include respond(phone) {
                margin-right: 0;
                margin-bottom: 30px;
            }
            img {
                border-radius: 50%;
                width: 350px;
                height: auto;
                max-width: 180px;

                @include respond(phone) {
                    width: 200px;
                }
            }
        }
        
        .copy-holder {
            a.btn {
                margin-top: 0 !important;
            }
        }
    }
}

.post-type-archive-results,
.post-type-archive-reviews {
    .banner {
        .cta-contact {
            margin:0;
        }
    }
}

.post-type-archive-reviews {
    .banner {
        .featured {
            border-radius: 20px;
            background:$sky;
            padding: 30px;
            display: block;
            box-sizing: border-box;

            img {
                max-height: 25px;
                width: auto;
                margin-bottom: 15px;
            }

            p {
                max-width: 100% !important;
                color:$slate !important;
                line-height: 150%;
                margin-bottom: 20px;

                &:last-of-type {
                    margin-bottom: 0;
                    text-transform: uppercase;
                }
            }
        }
    }
    .main-content {
        article {
            p {
                font-size: 20px;
                font-style: italic;
                line-height: 150%;

                &:last-of-type {
                    text-transform: uppercase;
                    font-size: 16px;
                    font-style: normal;
                }
            }
        }
    }
}

.post-type-archive-results {
    .main-content {
        .column-full {
            justify-content: flex-start;

            h2 {
                display: flex;
                justify-content: center;
                width: 100%;

                &:not(:first-of-type) {
                    margin-top: 80px !important;
                }
            }
            
            @include landing-box;
        }
    }
}

.search {
    .result {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid $gray;

        .btn {
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
        }
    }
}

.error404 {
    .body-container {
        .btn {
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
        }
    }
}

.page-template-page-about {
    @include highlight-box;

    .panel-1 {
        padding-top: 40px;
    }

    .panel-2 {
        .container {
            .columns {
                align-items: center;

                .column-50 {
                    &:first-of-type {
                        @include respond(tab-port) {
                            margin-bottom: 60px;
                        }
                    }
                }
            }
        }
    }

    .testimonial {
        overflow-x: hidden;
        
        &::after {
            position: absolute;
            content: "";
            background: url(/wp-content/uploads/2026/03/Icon-chestnut.svg);
            height: 100%;
            width: 450px;
            right: -50px;
            top: 0;
            opacity: 0.4;
            background-size: 90%;
            background-position: top -190px center;
            background-repeat: no-repeat;
        }

        img {
            max-width: 55px;
            height: auto;
        }

        p {
            &.xlrg {
                font-weight: 300;
                line-height: 150%;
            }

            &.citation {
                text-transform: uppercase;
            }
        }
    }
}

// FAQs page //
.page-id-413 {
    #menu-item-438 {
        display: none;
    }
}